@import './Colors';
@import './Spacing';
@import './Transitions';
@import './Placeholders';
@import './DarkMode';

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    //outline: 1px solid red;
}

html {
    // overflow: -moz-scrollbars-vertical; 
    // overflow-y: scroll;
    width: 100%;
    height: 100%;
}

body {
    background-color: #f7f7f9; //#eee;
    width: 100%;
    height: 100%;
    // transition-property: background-color;
    // transition-duration: 2s;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    text-decoration: none;
    color: black;
    &:hover { cursor: pointer }
}

ul {
    padding: 0;
}

.page-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.button {
    background-color: $blueGrey;
    color: white;
    height: 40px;
    border-radius: 5px;
    padding: 0px 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.1);
    border: none;
    font-size: 14px;
    font-weight: 800;
    transition-property: box-shadow, background-color;
    transition-duration: 0.3s, 2s;
 
    &:hover { 
        outline: none;
        filter: brightness(110%);
        cursor: pointer;
    }
    
    &:focus { outline: none }
}

input {
    background-color: transparent;
}

// Fonts
.modal-title-large {
    font-size: 26px;
    font-weight: 400;
}

.modal-title-medium {
    font-size: 20px;
    font-weight: 400;
}

// Animation Keyframes
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

// select {
//     border: none;
//     outline: none;
//     /* for Firefox */
//     -moz-appearance: none;
//     /* for Chrome */
//     -webkit-appearance: none;
// }
  
// /* For IE10 */
// select::-ms-expand {
//     display: none;
// }

.hide-scrollbars {
    // Hide scroll bars on Firefox:
    scrollbar-width: none;

    // Hide scroll bars on Microsoft Edge:
    -ms-overflow-style: none;

    // Hide scroll bars on Chrome:
    ::-webkit-scrollbar {
        display: none;
    }
}

.wecoInput {
    font-size: 14px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0px 15px;
    //margin-bottom: 10px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.08); //gba(10, 8, 72, 0.1);
    //box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.2);
    transition-property: box-shadow, background-color;
    transition-duration: 0.3s, 1s;
    &.textArea {
        height: 60px;
        padding: 10px 15px;
    }
    &.error {
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.6);
    }
    &:hover {
        box-shadow: 0 0 0 3px rgb(183, 214, 255); //0 0 5px 6px rgba(58,136,240,0.4);
        background-color: white;
    }
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

.wecoButton {
    height: 40px;
    border-radius: 5px;
    background-color: $blueGrey;
    color: white;
    // background-color: white;
    // color: grey;
    font-size: 14px;
    font-weight: 800;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.1);
    //border: 1px solid rgba(10, 8, 72, 0.1);
    border: none;
    transition-property: box-shadow, background-color, filter;
    transition-duration: 0.3s, 0.5s, 0.5s;

    &.disabled {
        background-color: #c5c5c5;
        &:hover {
            border: none;
            filter: brightness(100%);
            cursor: auto;
        }
    }

    &.centered {
        margin: 0 auto;
    }
 
    &:hover { 
        outline: none;
        filter: brightness(115%);
        cursor: pointer;
    }
    
    &:focus { outline: none }

    .wecoButtonIcon {
        width: 20px;
        height: 20px;
        filter: invert(100%);
    }
}

.fileContainer {
    box-shadow: none;
}

.wecoPageHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.wecoPageHeaderRow {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.wecoFilters {
    width: 100%;
    //margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wecoNoContentPlaceholder {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greyText {
    color: rgb(117, 117, 117);
}
// .darkGreyText {
//     color: rgb(117, 117, 117);
// }
.blueText {
    color: rgb(104, 161, 247);
    &:hover {
        cursor: pointer;
    }
}