$blueGrey: rgba(58,136,240,1); //#0093ff; //#a9c1ea;
$blueGreyTransparent: rgba(58,136,240,0.4);
$purple: rgb(170, 141, 250);
$purple-o: rgba(170, 141, 250, 0.4);

// new colours

// post types
$blue: rgb(170, 141, 250);