$blueGrey: rgba(58,136,240,1); //#0093ff; //#a9c1ea;
$blueGreyTransparent: rgba(58,136,240,0.4);
$purple: rgb(170, 141, 250);
$purple-o: rgba(170, 141, 250, 0.4);

// post types
$blue: rgb(170, 141, 250);




// new
$white: #fff;
$grey1: #f7f7f9;
$grey2: #ededef;
$grey3: #dadadd;
$grey4: #c5c5c7;
$grey5: #acacae;
$black1: #000;
$black2: #202129;
$blue1: #82afff;
$blue2: #3a88f0;