:export {
    blue: #4f8af7;
    lightBlue: #83b0ff;
    green: #23e757;
    yellow: #f9ec30;
    orange: #f59c27;
    red: #ff4848;
    purple: #a65cda;// hsl(275, 100%, 46%);
    lightGreen: #5edd80;
    darkGreen: #159437;
    darkBlue: #265dc5;
    darkGrey:  #202129;
    lightGrey: #a7a7a7;

    gbgBlue: #4f8af7;
    gbgGreen: #23e757;
    gbgYellow: #f9ec30;
    gbgOrange: #f59c27;
    gbgRed: #ff4848;
    gbgPurple: #a65cda;

    gbgGrey1: #e9e9ea;
    gbgGrey2: #d7d7d9;
    gbgGrey3: #c6c6c7;
}