:export {
    blue: #4f8af7;
    green: #23e757;
    yellow: #f9ec30;
    orange: #f59c27;
    red: #ff4848;
    purple: #a65cda;// hsl(275, 100%, 46%);
    lightGreen: #5edd80;
    darkGreen: #159437;
    darkBlue: #265dc5;
}