$blueGrey: rgba(58,136,240,1); //#0093ff; //#a9c1ea;
$blueGreyTransparent: rgba(58,136,240,0.4);
$purple: rgb(170, 141, 250);
$purple-o: rgba(170, 141, 250, 0.4);

// post types
$blue: rgb(170, 141, 250);




// new
$white: #fff;
$grey1: #f7f7f9;
$grey2: #ededef;
$grey3: #dadadd;
$grey4: #c5c5c7;
$grey5: #acacae;
$grey6: #7f7f82;
$grey7: rgb(66, 69, 71);
$grey8: #aab3bf;
$bluegrey1: #e7f2fd;
$black1: #000;
$black2: #202129;
$black3: rgb(48, 48, 48);
$blue1: #82afff;
$blue2: #3a88f0;
$blue3: #28acff;
$blue4: #51a6dc;
$blue5: #44b1f7;
$red: #ef0037;
$red2: #f15e75;
$green: #00e64d;
$green2: #00daa2;
$aqua: #00b1a9;

$aquaGradient: -webkit-linear-gradient(75deg, #51a7dc 0%, #63ccad 100%);