// todo: rename file to 'variables' and update imports

// colors
$blueGrey: rgba(58,136,240,1); //#0093ff; //#a9c1ea;
$blueGreyTransparent: rgba(58,136,240,0.4);
$purple: rgb(170, 141, 250);
$purple-o: rgba(170, 141, 250, 0.4);
// post types
$blue: rgb(170, 141, 250);

// new
$white: #fff;
$grey0: #fcfcfc;
$grey1: #f7f7f9;
$grey2: #ededef;
$grey9: #e9e9e9;
$grey3: #dadadd;
$grey4: #c5c5c7;
$grey5: #acacae;
$grey6: #7f7f82;
$grey7: rgb(66, 69, 71);
$grey8: #aab3bf;
$bluegrey1: #e7f2fd;
$black1: #000;
$black2: #202129;
$black3: rgb(48, 48, 48);
$blue1: #82afff;
$blue2: #3a88f0;
$blue3: #28acff;
$blue4: #51a6dc;
$blue5: #44b1f7;
$blue7: #f1f9ff;
$blue6: #f6fbff;
$red: #ef0037;
$red2: #f15e75;
$orange: rgb(250, 162, 29);
$green: #00e697;
$green2: #00daa2;
$green3: #5edd80;
$aqua: #00b1a9;

// gradients
$aquaGradient: -webkit-linear-gradient(75deg, #51a7dc 0%, #63ccad 100%);

// post type colors
$postTypeText: $green3;
$postTypeUrl: $blue5;
$postTypeGlassBeadGame: $purple;
$postTypePrism: $green2;

// z-indexes
$fullScreenModalZIndex: 100;
$navbarZIndex: 90;
$sidebarSmallZIndex: 80;
$sidebarZIndex: 70;
$headerZIndex: 70;
$pageContentZIndex: 10;

// layout
// todo: use numbers instead of pixels so can be used in calculations?
$navbarHeight: 60px;
$sidebarSmallWidth: 70px;
$sidebarWidth: 230px;
$coverImageHeight: 230px;
$pageContentHorizontalPadding: 30px;
$pageContentVerticalPadding: 15px;
$scrollBarWidth: 6px;
