.holonPage {
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //position: relative;
}
.holonPageContent {
    width: 1200px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    // transition-property: width;
    // transition-duration: 1s;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
    &.fullScreen {
        width: 100%;
        .holonPageCenterPanel {
            width: 100%;
        }
    }
}
.holonPageCenterPanel {
    width: 700px;
    margin: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}