.holonPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.coverImage {
    margin-top: 60px;
    width: 100%;
    height: 140px;
    @media screen and (max-width: 700px) {
        height: 70px;
    }
}
.coverImagePlaceholder {
    margin-top: 60px;
    width: 100%;
    height: 140px;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); 
    // linear-gradient(180deg, #0b7285 0%, #0ca678 75%); //linear-gradient(#0b7285, #0ca678);
    @media screen and (max-width: 700px) {
        height: 70px;
    }
}
.coverImageUploadButton {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    width: 100%;
    height: 140px;
    background-color: rgba(0,0,0,0);
    color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }
}

.holonPageContainer {
    width: 1200px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.holonPageCenterPanel {
    width: 700px;
    margin: 0 10px;
    position: relative;
    display: flex;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}