.homePage {
    width: 100%;
    //height: 100%;
    margin-top: 70px;
    //padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // color: black;
    // transition-property: color;
    // transition-duration: 2s;
}
.logo {
    width: 400px;
    // width: 150px;
    // height: 150px;
    margin-top: 80px;
    // margin-bottom: 20px;
}
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .coloured {
        // color: rgb(162, 167, 170); // grey
        // color: rgb(155, 189, 209);
        font-weight: 400;
        font-size: 42px;
        background:  -webkit-linear-gradient(75deg, #51a7dc 0%, #63ccad 100%); // -webkit-linear-gradient(75deg, #5192dc 0%, #63cc82 100%); ////-webkit-linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        //filter: brightness(90%);
        // letter-spacing: 6px;
        // margin-left: -1px;
        // margin-right: -6px;
        //opacity: 0.8;
    }

    h1 {
        color: rgb(66, 69, 71);
        font-size: 40px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-top: -15px;
        //line-height: 20px;
    }

    h2 {
        font-size: 20px;
        font-weight: 400;
        color: rgb(133, 136, 138);
        text-align: center;
        margin-bottom: 25px;
    }

    h3 {
        font-size: 16px;
        font-weight: 400;
        color: rgb(181, 185, 187);
        text-align: center;
        margin-bottom: 15px;
    }

}
.preAlpha {
    font-size: 20px;
    margin: 20px 0 35px 0;
    color: #d0d0d0; //rgb(214, 216, 218)
}
.largeText {
    font-size: 24px;
}
.waves {
    width: 100%;
    position: relative;
    margin-top: -20px;
    //height: 500px;
}
.backgroundWave {
    width: 100%;
}
.underConstruction {
    width: 260px;
    //height: 150px;
    display: flex;
    flex-direction: row;
    //color: white;
    justify-content: center;
    align-items: center;
    margin: 20px 0 60px 0;
    // position: absolute;
    // bottom: 20%;
    // left: calc(50% - 130px);
    opacity: 0.8;
    z-index: 3;
}
.underConstructionText {
    font-size: 18px;
    //color: rgb(103, 107, 109)
}
.stats {
    display: flex;
    flex-direction: row;
    //margin-top: 100px;
    //margin-bottom: 100px;
    width: 700px;
    justify-content: space-between;
    z-index: 3;
}
.stat {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.statText {
    margin-right: 10px;
}
.icon {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    opacity: 0.3;
    //filter: invert(1);
}
.section2 {
    // z-index: 2;
    margin-top: -15px;
    width: 100%;
    background-color: #002d50;// #e9eff5; // #ddeffd; // #002d50; //#dfe6f3;//;//#045fa7;//#006fb7;//#0077b7;//#15a1d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2Fade {
    width: 100%;
    background-image: linear-gradient(to bottom, #2cb5e8, #0077b7);
    height: 200px;
}
.list {
    display: flex;
    flex-direction: column;
    margin: 60px 0 100px 0;
    color:white;
    padding: 0 20px;
    opacity: 0.9;
}
.ul {
    //list-style-type: none;
    margin: 10px 0 10px 20px;
    ul {
        margin-left: 40px;
    }
    li {
        //list-style-type: none;
    }
    input {
        margin-right: 10px;
    }
}
.credits {
    margin: 40px 0 20px 0;
    color: white;//#aaa;
    opacity: 0.6;
}
.introText {
    max-width: 700px;
    margin-top: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    //text-align: center;
    
    h2 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }
    h4 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    p {
        max-width: 600px;
        a {
            color: white;
            font-weight: 800;
        }
    }
}