.authModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.authModal {
    //width: 800px;
    //height: 400px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 30px 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.authModalCloseButton {
    height: 20px;
    width: 20px;
    opacity: 0.2;
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover {
        cursor: pointer;
    }
}
.authModalColumn {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authModalDividerLine {
    width: 1px;
    height: 300px;
    background-color: rgba(0,0,0,0.08);
    margin: auto 0;
}
.authModalForm {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authModalTitle {
    font-size: 24px;
    margin-bottom: 20px;
}
.authModalFlashMessage {
    text-align: center;
}
.authModalText {
    font-size: 16px;
    margin: 20px 0;
}
.socialMediaButton {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-property: filter;
    transition-duration: 0.5s;
    &:hover {
        filter: brightness(115%);
    }
}
.socialMediaIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(100%);
}