.comment {
    margin-bottom: 10px;
    padding: 20px 20px 20px 30px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.05);
    display: flex;
    flex-direction: row;
    transition-property: background-color;
    transition-duration: 2s;
    position: relative;
}
.commentId {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #aaa;
}
.commentBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.commentTags {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.commentCreator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.userImageWrapper {
    background-color: #eee; //rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.userImagePlaceholder {
    width: 50%;
    opacity: 0.2;
}
.subText {
    color: #888;
    margin-right: 10px;
}
.commentContent {

}
.commentText {
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    //padding-bottom: 10px;
    transition-property: color;
    transition-duration: 2s;
}
.commentInteract {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}
.commentInteractItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    margin-right: 10px;
    color: #888;
    &:hover {
        cursor: pointer;
    }
}
.likeIcon {
    background-image: url(/icons/heart-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 17px;
    width: 17px;
    padding: 0;
    opacity: 0.4;
    margin-right: 5px;
}
.deleteIcon {
    background-image: url(/icons/delete-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 17px;
    width: 17px;
    padding: 0;
    opacity: 0.4;
    margin-right: 5px;
}
.pinIcon {
    background-image: url(/icons/pin-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 17px;
    width: 17px;
    padding: 0;
    opacity: 0.4;
    margin-right: 5px;
}