.wrapper {
    display: flex;
    flex-direction: column;
    //margin-bottom: 5px;
}
.commentWrapper {
    display: flex;
    flex-direction: row;
    //margin-bottom: 5px;
    &.indented {
        margin-left: 43px;
    }
    &.marginBottom {
        margin-bottom: 10px;
    }
}
.comment {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.content {
    padding: 8px 12px;
    border-radius: 15px;
    background-color: #f2f3f5;//#f7f7f9;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.tags {
    display: flex;
    flex-direction: row;
}
.name {
    font-weight: 800;
    margin-right: 5px;
}
.divider {
    margin: 0 5px 0 5px;
    opacity: 0.6;
}
.date {
    opacity: 0.6;
}
.text {
    line-height: 20px;
    max-height: 100px;
    overflow: hidden;
    &.expanded {
        max-height: none;
    }
}
.showMoreLessText {
    opacity: 0.6;
    &:hover {
        cursor: pointer;
    }
}
.interact {
    display: flex;
    flex-direction: row;
    margin: 5px 0 10px 0;
}
.interactItem {
    font-size: 12px;
    //font-weight: 800;
    margin-right: 10px;
    opacity: 0.6;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
}
.icon {
    width: 14px;
    height: 14px;
    opacity: 0.5;
    margin-right: 3px;
    &.rotated {
        transform: rotate(180deg);
    }
}
.replyWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 43px;
}
.replyInput {
    display: flex;
    flex-direction: row;
    // margin-bottom: 10px;
    // margin-left: 43px;
    margin: 0 0 10px 43px;
}
.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.input {
    width: 100%;
    min-height: 35px;
    margin: 0 8px;
    padding: 8px 15px;
    border-radius: 17.5px;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: #f2f3f5;
    transition-property: box-shadow, background-color;
    transition-duration: 0.3s, 1s;
    &.error {
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.6);
    }
    &:hover {
        box-shadow: 0 0 0 3px rgb(183, 214, 255); //0 0 5px 6px rgba(58,136,240,0.4);
        background-color: white;
    }
}
.button {
    height: 35px;
    border-radius: 17.5px;
    background-color: #3a88f0; //#56b9f9;// #3a88f0;//#56b9f9;
    color: white;
    // background-color: white;
    // color: grey;
    font-size: 14px;
    //font-weight: 800;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.1);
    //border: 1px solid rgba(10, 8, 72, 0.1);
    border: none;
    transition-property: box-shadow, background-color, filter;
    transition-duration: 0.3s, 0.5s, 0.5s;

    &.disabled {
        background-color: #c5c5c5;
        &:hover {
            border: none;
            filter: brightness(100%);
            cursor: auto;
        }
    }

    &.centered {
        margin: 0 auto;
    }
 
    &:hover { 
        outline: none;
        //background-color: #3a88f0;//#56b9f9;
        filter: brightness(120%);
        cursor: pointer;
    }
    
    &:focus { outline: none }
}