.holonHandleInput {
    max-width: 500px;
}
.text {
    margin-bottom: 10px;
}
.flashMessage {
    width: 400px;
}
.inputForm {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.handles {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}