@import '@styles/Colors.scss';

.wrapper {
    padding-top: 60px;
    width: 100%;
    height: 100vh;
}
.mainContent {
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comments {
    width: 350px;
    height: 100%;
    border-right: 1px solid #ddd;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    > div {
        height: 100%;
        overflow-y: scroll;
        scroll-snap-type: y proximity;
    }
    > form {
        display: flex;
        padding: 10px;
        background-color: #f7f7f9;
    }
    .commentWrapper {
        display: flex;
        flex-direction: row;
        //align-items: center;
        margin: 10px;

        .commentText {
            margin-left: 10px;
            > div {
                > h1 {
                    font-size: 14px;
                    font-weight: 800;
                }
                > p {
                    margin-left: 3px;
                    font-size: 14px;
                    color: $grey4;
                }
            }
            > p {
                font-size: 14px;
            }
        }
    }
}
.centerPanel {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.gameControls {
    position: absolute;
    left: 20px;
    top: 20px;
    > p {
        margin-bottom: 5px;
    }
}
.peopleInRoom {
    position: absolute;
    right: 20px;
    top: 20px;
    > div > p {
        margin-bottom: 10px;
    }
}
.videos {
    $width: 1280;
    $height: 720;
    $padding: 10px;

    // background-color: rgba(0,0,0,0.5);
    margin: $padding;
    padding: $padding;
    border-radius: 5px;
    //max-height: calc(100% - 280px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .videoWrapper {
        display: flex;
        position: relative;
        margin-bottom: $padding;
        &:last-child { margin-bottom: 0 }
        > video {
            border-radius: 10px;
        }
        > .videoUser {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 7px;
            padding: 7px 10px;
            border-radius: 7px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        > .videoButtons {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 8px 12px;
            display: flex;
            > button {
                all: unset;
                color: $white;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                > svg {
                    width: 25px;
                    height: 25px;
                    opacity: 0.5;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        // 1 - 2
        &.xl > video {
            width: $width / 3 + px;
            height: $height / 3 + px;
        }
        // 3
        &.lg > video {
                width: $width / 4 + px;
                height: $height / 4 + px;
        }
        // 4 - 6
        &.md > video {
                width: $width / 5 + px;
                height: $height / 5 + px;
        }
        // 7 +
        &.sm > video {
            width: $width / 6 + px;
            height: $height / 6 + px;
        }
    }
}
.position {
    width: 35px;
    height: 35px;
    background-color: $white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionControls {
    height: 35px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > button {
        all: unset;
        cursor: pointer;
        display: flex;
        //justify-content: center;
        color: $grey4;
        &:hover {
            color: $grey5;
        }
        &:disabled {
            color: $grey3;
            cursor: unset;
        }
        > svg {
            width: 16px;
            height: 16px;
            
        }
    }
    
}
.topic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid $grey3;
    margin: 10px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }
}
.timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    > .timerArcTitles {
        position: absolute;
        top: -1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > p {
            margin-bottom: 8px;
        }
    }
    > .moveCard {
        width: 170px;
        height: 170px;
        position: absolute;
        border: 2px solid $grey3;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
            width: 120px;
            height: 120px;
        }
    }
}
.error {
    color: $red;
    margin-top: 10px;
}
.recordingFlag {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    &.recording {
        background-color: $red;
    }
    &.recordingNext {
        background-color: $orange;
    }
}
// .giftIcon {
//     width: 100px;
//     margin: 30px 0 20px 0;
// }
.activeTurn {
    width: 400px;
    height: 400px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.soundWaveIcon {
    width: 200px;
    height: 200px;
}
.soundWaveIconSmall {
    width: 80px;
    height: 80px;
}

.noUsersConnected {
    margin-top: 10px;
    color: $grey5;
    
}
.adminText {
    color: rgb(163, 163, 163);
}
.textInputWrapper {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textInput {
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    padding: 0px 15px;
    background-color: #f7f7f9;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.button {
    background-color: #c0e0ff;
    // width: 80px;
    height: 40px;
    border-radius: 5px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.danger {
        background-color: #ffc0c0;
    }
    &:hover {
        cursor: pointer;
    }
}
.beads {
    padding: 0 40px;
    background-color: white;
    border-top: 1px solid #ddd;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.beadWrapper {
    display: flex;
    flex-direction: row;
}
.bead {
    width: 120px;
    height: 120px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > audio {
        width: 100px;
    }
}
.beadText {
    
}
.beadDivider {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dividerLine {
    height: 2px;
    width: 40px;
    background-color: #ddd;
}
.dividerConnector {
    height: 40px;
    width: 40px;
}
// .gameControls {
//     margin-top: 10px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     > div {
//         display: flex;
//         align-items: center;
//         margin-bottom: 10px;
//         &:last-child {
//             margin-bottom: 0;
//         }
//     }
// }
.numberInput {
    border: none;
    background-color: white;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
    padding: 5px 10px;
}