@import '../Transitions.scss';
// TODO: change to importing a variables file including transition speeds etc.

.sideBarLeft {
    width: 230px;
    padding: 0 20px;
    position: relative;
    flex-shrink: 0;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.flagImageWrapper {
    margin-top: -110px;
}
.name {
    font-size: 26px;
    line-height: 30px;
    min-height: 30px;
    //margin: 70px 0 20px 0;
    margin: 20px 0 20px 12px;
}
.description {
    margin: 20px 0 0 10px;
}
.navButtons {
    display: flex;
    flex-direction: column;
}
