.usersWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.users {
    width: 100%;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    flex-wrap: wrap;
}
.filterButton {
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    background-color: rgba(0,0,0,0.04);
    margin-right: 10px;
    font-size: 14px;
    font-weight: 800;
    color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.08);// rgba(255, 255, 255, 1);
        color: rgba(0,0,0,0.8);
        .filterButtonIcon { opacity: 0.6; }
    }
}
.filterButtonIcon {
    width: 20px;
    opacity: 0.4;
    transition-property: opacity;
    transition-duration: 0.5s;
}