.wrapper {
    width: 100%;
    //height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header {
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content {
    width: 100%;
    //height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.text {
    margin-bottom: 10px;
    &:last-child { margin-bottom: 0; }
}