@import '../Transitions.scss';
// TODO: change to importing a variables file including transition speeds etc.

.childHolonsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.childHolons {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity $transitionSpeed;
    &.hidden {
        opacity: 0;
    }
}
.headerRow {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headerRowSection {
    display: flex;
    flex-direction: row;
}
