.wrapper {
    width: 100%;
    //height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header {
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content {
    width: 100%;
    //height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.section {
    //margin-bottom: 20px;
}
.title {
    font-size: 20px;
    margin-bottom: 10px;
}
.field {
    margin-bottom: 10px;
    &:last-child { margin-bottom: 0; }
    display: flex;
    flex-direction: row;
    //align-items: flex-start;
}
.text {
    margin-right: 10px;
    // &:last-child { margin-bottom: 0; }
}
.linkText {
    text-decoration: underline;
    color: rgb(0, 160, 253);
    //margin-left: 10px;
    &:hover { cursor: pointer }
}