@import '../Transitions.scss';
// TODO: change to importing a variables file including transition speeds etc.

.wall {
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;
    //overflow: hidden;
}
.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity $transitionSpeed;
    &.hidden {
        opacity: 0;
    }
}
.pinnedPosts {
    padding: 0;
    width: 100%;
}
