.wrapper {
    width: 700px;
    //height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header {
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content {
    width: 100%;
    //height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.name {
    font-size: 24px;
}
.handle {
    font-size: 16px;
    color: grey;
    margin-bottom: 10px;
}
.created {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text {
    // margin-bottom: 10px;
    // &:last-child { margin-bottom: 0; }
}
.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.creatorImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.placeholderWrapper {
    background-color: #eee; //rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.placeholder {
    width: 50%;
    opacity: 0.2;
}