.imageUploadModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageUploadModal {
    width: 600px;
    height: 600px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageUploadModalCloseButton {
    height: 20px;
    width: 20px;
    opacity: 0.2;
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover {
        cursor: pointer;
    }
}
.imageUploadModalTitle {
    font-size: 24px;
    margin-bottom: 20px;
}
.imageUploadLink {
    font-size: 20px;
    margin-bottom: 20px;
    &:hover {
        cursor: pointer;
    }
}