@import './../Colors.scss';
// todo: import all component and page styles into one file and import colors there

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    &.disabled > div { background-color: $blue6 } //$grey9 }
    // title
    h1 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
        color: $black1;
    }
    // error message
    h2 {
        font-size: 14px;
        font-weight: 400;
        color: $red;
        margin-bottom: 5px;
    }
    // input wrapper (contains prefix, input, and svg icon)
    > div {
        // margin-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: $white;// rgba(0,0,0,0.02); //gba(10, 8, 72, 0.1);
        box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.05);
        width: 100%;
        border-radius: 5px;
        padding: 0 10px 0 15px;
        // prefix
        span {
            font-size: 14px;
            color: $grey6;
            padding-right: 5px;
        }
        input {
            font-size: 14px;
            height: 40px;
            width: 100%;
            padding: 0px;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            background-color: transparent;
            -webkit-background-clip: text !important;
        }
        // input:-internal-autofill-selected {
        //     background-color: transparent !important;
        // }
        textarea {
            font-size: 14px;
            // height: 40px;
            width: 100%;
            padding: 10px 0px;
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            background-color: transparent;
        }
        ::placeholder {
            color: $grey6;
        }
        svg {
            flex-shrink: 0;
            height: 20px;
            width: 20px;
            margin-left: 10px;
            margin-top: 10px;
            align-self: flex-start;
        }
        // validation
        &.invalid {
            border: 2px solid $red;
            svg > path { fill: $red }
        }
        &.valid {
            border: 2px solid $green;
            svg > path { fill: $green }
        }
    }
    
}
