.flagImageWrapper {
    border-radius: 50%;
    position: absolute;
    top: -96px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flagImage {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 50%;
    object-fit: cover;
}
.placeholderWrapper {
    background-color: #eee; //rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.placeholder {
    width: 60%;
    opacity: 0.2;
}
.uploadButton {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin: 4px;
    padding: 0 20px;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }
}
// .flagImageWrapper {
//     &.border {
//         .flagImage {
//             width: calc(100% - 8px);
//             height: calc(100% - 8px);
//         }
//         .placeholderWrapper {
//             width: calc(100% - 8px);
//             height: calc(100% - 8px);
//         }
//         .uploadButton {
//             width: calc(100% - 8px);
//             height: calc(100% - 8px);
//         }
//     }
// }