$darkGrey: #202129;

.navBar {
    background-color: $darkGrey; //#212937;
    color: rgb(99, 99, 99); //#222;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 2s;
    z-index: 10;
}
.navBarContainer {
    //width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}
.navBarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    // position: relative;
}
.navBarLink {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    //margin-left: 15px;
    &:hover {
        .navBarText { opacity: 1 }
        .exploreDropDownIcon { opacity: 1 }
        // cursor: pointer;
    }
    @media screen and (max-width: 600px) {
        margin-right: 15px;
    }
}
.navBarText {
    color: #fff; //#9DA1A8; //rgb(218, 218, 218);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    // padding: 0 15px;
    opacity: 0.6;
    transition: opacity 0.5s;
    &.selected {
        // font-weight: 800;
        opacity: 1;
    }
    @media screen and (max-width: 600px) {
        display: none;
    }
    &:hover {
        cursor: pointer;
    }
}
.dropDownText {
    color: #fff; //#9DA1A8; //rgb(218, 218, 218);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    // padding: 0 15px;
    opacity: 0.6;
    transition: opacity 0.5s;
    &.selected {
        // font-weight: 800;
        opacity: 1;
    }
    @media screen and (max-width: 600px) {
        display: none;
    }
    &:hover {
        cursor: pointer;
    }
}
.navBarIcon {
    width: 20px;
    height: 20px;
    // width: 28px;
    // height: 28px;
    margin-right: 10px;
    opacity: 0.4;
    filter: invert(100%);
    transition: opacity 0.5s;
}
.authButtons {
    display: flex;
    flex-direction: row;
}
.userControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.userName {
    color: white;
    font-size: 16px;
    margin-right: 20px;
}
.notification {
    width: 25px;
    height: 25px;
    background-color: #ff4848; // red;
    color: white;
    font-size: 12px;
    font-weight: 800;
    border: 3px solid $darkGrey;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expandButtonWrapper {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    outline: none;
}
.expandButton {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    filter: invert(1);
    &:hover {
        cursor: pointer;
    }
}
.exploreDropDown {
    position: absolute;
    left: 0;
    top: 22px;
    background-color: $darkGrey;
    padding: 15px 20px 0 15px;
    border-radius: 5px;
}
.exploreDropDownItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:hover {
        .dropDownText {
            opacity: 1;
        }
        .navBarIcon {
            opacity: 1;
        }
    }
}
.exploreDropDownIcon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    opacity: 0.4;
    filter: invert(100%);
    transition: opacity 0.5s;
    cursor: pointer;
}