$darkGrey: #202129;

.navBar {
    background-color: $darkGrey; //#212937;
    color: rgb(99, 99, 99); //#222;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 2s;
    z-index: 10;
}
.navBarContainer {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}
.navBarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navBarLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    //margin-left: 15px;
    &:hover { .navBarIcon { opacity: 1 } }
    @media screen and (max-width: 600px) {
        margin-right: 15px;
    }
}
.navBarText {
    color: #fff; //#9DA1A8; //rgb(218, 218, 218);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 15px;
    opacity: 0.8;
    &.selected {
        font-weight: 800;
        opacity: 1;
    }
    @media screen and (max-width: 600px) {
        display: none;
    }
}
.navBarIcon {
    width: 28px;
    height: 28px;
    // margin-left: 15px;
    opacity: 0.4;
    filter: invert(100%);
    transition: opacity 0.5s;
}
.authButtons {
    display: flex;
    flex-direction: row;
}
.userControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.userName {
    color: white;
    font-size: 16px;
    margin-right: 20px;
}
.notification {
    width: 25px;
    height: 25px;
    background-color: #ff4848; // red;
    color: white;
    font-size: 12px;
    font-weight: 800;
    border: 3px solid $darkGrey;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expandButtonWrapper {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    outline: none;
}
.expandButton {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    filter: invert(1);
    &:hover {
        cursor: pointer;
    }
}