.wrapper {
    margin-bottom: 10px;
    padding: 20px 50px 10px 30px;
    width: 100%;
    border-radius: 10px;
    background-color: #f7fbff; //transparent; #ededf5;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.05);
    display: flex;
    flex-direction: row;
    transition-property: background-color;
    transition-duration: 0.5s;
    position: relative;
    &.seen {
        background-color: white;
    }
}
.index {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.15);
    @media screen and (max-width: 700px) {
        display: none;
    }
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: center;
}
.iconWrapper {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.icon {
    width: 20px;
    height: 20px;
    opacity: 0.2;
    &.rotated {
        transform: rotate(180deg);
    }
}
.iconLarge {
    width: 25px;
    height: 25px;
    opacity: 0.2;
}
.checkIcon {
    width: 25px;
    height: 25px;
    filter: invert(50%) sepia(51%) saturate(500%) hue-rotate(100deg) brightness(120%) contrast(100%);
    opacity: 0.6;
    margin-right: 5px;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.imageTextLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    span {
        margin: 0 8px;
    }
}
.seenIcon {
    width: 20px;
    height: 20px;
    opacity: 0.2;
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    &:hover {
        cursor: pointer;
    }
}
.text {
    opacity: 0.6;
    //height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}