.pollAnswer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px 10px 10px 15px;
    margin: 0 10px 10px 0;
    &:hover {
        cursor: pointer;
    }
}
.pollAnswerText {}
.pollAnswerCloseButton {
    background-image: url(/icons/close-01.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 17px;
    width: 17px;
    padding: 0;
    opacity: 0.4;
    margin-right: 5px;
    flex-shrink: 0;
    &:hover {
        cursor: pointer;
    }
}