.pollAnswer {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 0 10px 10px 0;
}
.pollAnswerIndex {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    //opacity: 0.5;
}
.pollAnswerScoreRatio {
    width: 80px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pollAnswerScore {
    margin-right: 20px;
    width: 100px;
    height: 40px;
    background-color: rgba(0,0,0,0.1);
    position: relative;
}
.pollAnswerScoreBar {
    //width: 40%;
    height: 40px;
    background-color: #9ed5ff;
}
.pollAnswerScoreText {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
}