.container {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
    // border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #f7f7f9;//#f2f3f5; // rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: row;
}
.loadingImage {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    //filter: invert(100%);
}
.image {
    width: 200px;
    height: 120px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    //margin-right: 15px;
    object-fit: cover;
}
.text {
    width: calc(100% - 200px);
    //margin-left: 15px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title {
    max-width: 390px;
    font-size: 16px;
    line-height: 20px;
    max-height: 40px;
    font-weight: 600;
    margin-bottom: 2px;
    flex-shrink: 0;
    overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
}
.description {
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    margin-bottom: 5px;
    flex-shrink: 0;
    overflow: hidden;
    width: 100%;
}
.domain {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover { cursor: pointer; }
}
.icon {
    width: 15px;
    height: 15px;
    opacity: 0.3;
    margin-right: 5px;
}
.domainText {
    font-size: 14px;
    line-height: 14px;
    opacity: 0.5;
}