.wrapper {
    //margin-top: 5px;
    // background-color: #f7f7f9;
    // padding: 10px;
    // border-radius: 10px;
}
.commentInput {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 5px;
}
.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.input {
    width: 100%;
    //min-height: 35px;
    margin: 0 8px;
    padding: 8px 15px;
    border-radius: 17.5px;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    border: none;
    background-color: #f2f3f5;
    transition-property: box-shadow, background-color;
    transition-duration: 0.3s, 1s;
    &.error {
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.6);
    }
    &:hover {
        box-shadow: 0 0 0 3px rgb(183, 214, 255); //0 0 5px 6px rgba(58,136,240,0.4);
        background-color: white;
    }
}
.button {
    height: 35px;
    border-radius: 17.5px;
    background-color: #3a88f0;//#56b9f9;// #3a88f0;//#56b9f9;
    color: white;
    // background-color: white;
    // color: grey;
    font-size: 14px;
    //font-weight: 800;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.1);
    //border: 1px solid rgba(10, 8, 72, 0.1);
    border: none;
    transition-property: box-shadow, background-color, filter;
    transition-duration: 0.3s, 0.5s, 0.5s;

    &.disabled {
        background-color: #c5c5c5;
        &:hover {
            border: none;
            filter: brightness(100%);
            cursor: auto;
        }
    }

    &.centered {
        margin: 0 auto;
    }
 
    &:hover { 
        outline: none;
        //background-color: #3a88f0;//#56b9f9;
        filter: brightness(120%);
        cursor: pointer;
    }
    
    &:focus { outline: none }
}
.comments {
    margin-top: 10px;
}