.pollVoteSection {
    width: 100%;
}
.castVoteButton {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #3a88f0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}