// .modalWrapper {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0,0.3);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 5;
// }
// .modal {
//     width: 500px;
//     border-radius: 5px;
//     background-color: white;
//     color: black;
//     padding: 30px 50px;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
// }
.title {
    font-size: 24px;
    margin-bottom: 20px;
}
.text {

}
// .likes {
//     margin-bottom: 20px;
// }
.like {
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    &:last-child { margin-bottom: 0 }
}
.imageTextLink {
    display: flex;
    flex-direction: row;
    align-items: center;
}
