.itemWrapper {
    height: 30px;
    margin-right: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-shrink: 0;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.item {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;
    &:hover {
        cursor: pointer;
        .icon {
            opacity: 0.5;
        }
    }
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    opacity: 0.3;
    transition-property: opacity, filter;
    transition-duration: 0.3s;
    &.small {
        width: 17px;
        height: 17px;
    }
    &.large {
        width: 23px;
        height: 23px;
    }
    &.selected {
        opacity: 0.8 !important;
        filter: invert(.5) sepia(1) saturate(5) hue-rotate(190deg);
    }
}