.item {
    height: 30px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.postIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    opacity: 0.3;
    // &:hover {
    //     opacity: 0.5;
    // }
    &.small {
        width: 17px;
        height: 17px;
    }
    &.large {
        width: 25px;
        height: 25px;
    }
    &.selected {
        opacity: 0.8;
        filter: invert(.5) sepia(1) saturate(5) hue-rotate(190deg);
    }
}