.post {
    margin-bottom: 10px;
    padding: 20px 30px 10px 20px;
    width: 700px;//100%;
    //height: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.05);
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: 1;
}
.pinned {
    background-color: #f1f6ff;
}
.pinFlag {
    background-image: url(/icons/pin-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    height: 17px;
    width: 17px;
    padding: 0;
    opacity: 0.4;
    margin-right: 5px;
    position: absolute;
    right: 15px;
    &:hover {
        cursor: pointer;
    }
}
.index {
    width: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.15);
    @media screen and (max-width: 700px) {
        display: none;
    }
}
.body {
    width: 100%;//calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    //overflow: hidden;
}
.tags {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.creatorImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.placeholderWrapper {
    background-color: #eee; //rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.placeholder {
    width: 50%;
    opacity: 0.2;
}
.postSpaces {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.linkIcon {
    width: 15px;
    height: 15px;
    opacity: 0.3;
    margin-right: 5px;
}
.subText {
    //color: #888;
    opacity: 0.6;
    margin-right: 7px;
}
.delete {
    font-size: 14px;
    //margin-left: 10px;
    opacity: 0.6;
    &:hover {
        cursor: pointer;
    }
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.text {
    max-height: 200px;
    overflow: hidden;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: 2s;
    &.showFullText {
        max-height: none;
    }
    //overflow: hidden;
    ul, ol {
        padding-left: 30px;
        margin-bottom: 10px;

        > li > input {
            margin-left: -20px;
            margin-right: 10px;
        }
    }
    h1 {
        line-height: 30px;
        margin-bottom: 5px;
    }
    h2 {
        line-height: 25px;
        margin-bottom: 3px;
    }
    img {
        max-width: 500px;
        max-height: 500px;
        display: block;
        margin: 20px auto;
    }
    a {
        color:#82afff;
        &:hover {
            cursor: pointer;
        }
    }
    p {
        margin-bottom: 10px;
    }
    hr {
        margin: 20px 0;
        height: 2px;
        border: none;
        background-color: #ddd;
    }
    pre {
        padding: 20px;
        background-color: #f6f8fa;
        border-radius: 5px;
        margin: 15px 0;
        code {
            padding: 0;
            background-color: none;
            border-radius: none;
            line-height: 20px;
        }
    }
    code {
        padding: 5px 10px;
        background-color: #f6f8fa;
        border-radius: 5px;
        line-height: 40px;
    }
    blockquote {
        padding: 0 10px;
        color:#6a737d;
        border-left: 3px solid #cacaca;
    }
    table {
        border: 1px solid #dee2e6;
        border-spacing: 0;
        border-collapse: collapse;
        > thead > tr {
            border-top: 1px solid #dee2e6;
            background-color: #fbfbfb;
            > th {
                padding: 10px;
                border: 1px solid #dee2e6;
            }
        }
        > tbody >  tr {
            border-top: 1px solid #dee2e6;
            > td {
                padding: 10px;
                border: 1px solid #dee2e6;
            }
        }
    }
}
.interact {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.interactItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    margin: 0 15px 5px 0;
    &:hover {
        cursor: pointer;
    }
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    opacity: 0.3;
    // &:hover {
    //     opacity: 0.5;
    // }
    &.selected {
        opacity: 0.8;
        filter: invert(.5) sepia(1) saturate(5) hue-rotate(190deg);
        // Light purple: filter: invert(.5) sepia(1) saturate(5) hue-rotate(190deg);
        // Blue: filter: invert(.5) sepia(1) saturate(5) hue-rotate(160deg);
        // Blue/green: filter: invert(.5) sepia(1) saturate(5) hue-rotate(120deg);
        // Nice orange/red: filter: invert(.5) sepia(1) saturate(5) hue-rotate(-30deg);
        // Orange: filter: invert(.5) sepia(1) saturate(5) hue-rotate(-20deg);
    }
}
// .opacity50 {
//     opacity: 0.5;
// }
.postTypeFlag {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 2px;
    opacity: 0.5;
}
.showMore {
    margin-top: -10px;
    margin-bottom: 10px;
    color:#82afff;
    &:hover {
        cursor: pointer;
    }
}