@import '../Transitions.scss';
// TODO: change to importing a variables file including transition speeds etc.

.sideBarRight {
    width: 200px;
    padding: 0 20px;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.sideBarRightContent {
    display: flex;
    flex-direction: column;
    transition:  all $transitionSpeed;
    opacity: 0;
    &.visible { opacity: 1 }
}
.sideBarRightText {
    margin-bottom: 10px;
}
.sideBarRightHolons {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sideBarRightHolon {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sideBarRightHolonImageWrapper {
    background-color: #eee; //rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.sideBarRightHolonImage {
    width: 60%;
    opacity: 0.2;
    //width: 40px;
    //border-radius: 50%;
}
.sideBarRightHolonName{
    &:visited {
        color: black;
    }
}