.button {
    height: 40px;
    border-radius: 5px;
    padding: 0 8px 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.03);// rgba(255, 255, 255, 1);
        .icon { opacity: 0.4; }
    }
    &.selected {
        background-color: rgba(0,0,0,0.03);// #e5e7eb;//rgba(0,0,0,0.05);
        .icon { opacity: 0.4; }
    }
}
.icon {
    width: 25px;
    height: 25px;
    //margin-left: 12px;
    opacity: 0.3;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.text {
    //font-size: 18px;
    margin-left: 10px;
}
.numberWrapper {
    margin-left: auto;
    //margin-right: 10px;
    height: 30px;
    padding: 0 12px;
    width: 40px;
    border-radius: 15px;
    //background-color: rgba(0,0,0,0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.number {
    font-size: 12px;
    font-weight: 800;
    opacity: 0.6;
}