@import '../Transitions.scss';
// TODO: change to importing a variables file including transition speeds etc.

.sideBarLeft {
    width: 200px;
    padding: 0 20px;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all $transitionSpeed;
    opacity: 0;
    &.visible { opacity: 1 }
}
.flagImageWrapper {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -87px;
    //margin-bottom: 20px;
}
.flagImage {
    width: 100%; //120px;
    height: 100%; //120px;
    border-radius: 50%;
    object-fit: cover;
}
.flagImageUploadButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
    &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.4);
        color: white;
    }
}
.flagImagePlaceholderWrapper {
    background-color: #eee; //rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.flagImagePlaceholder {
    width: 60%;
    opacity: 0.2;
}
.holonName {
    font-size: 26px;
    line-height: 30px;
    margin: 60px 0 20px 0;
}
.parentHolonNames {
    font-size: 16px;
}
.navButtons {
    display: flex;
    flex-direction: column;
}
.navButton {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
        cursor: pointer;
        .navButtonIcon { opacity: 0.4; }
    }
    &.selected {
        .navButtonIcon { opacity: 0.4; }
    }
}
.navButtonIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.navButtonText {
    //font-size: 18px;
}
