@import '@styles/Variables';

.wrapper {
    width: 100%;
    margin-bottom: 10px;

    .header {
        padding: 15px $pageContentHorizontalPadding;
        position: -webkit-sticky;
        position: sticky;
        top: 147px;
        z-index: $headerZIndex;
        background-color: $grey1;
    }

    .content {
        width: 100%;
        height: calc(100vh - 230px);
        //z-index: 0;

        .spaces {
            flex-shrink: 0;
            padding: 0 20px 0 $pageContentHorizontalPadding;
            position: relative;
            width: 850px;

            // > div {
            //     &:not(:last-child) { margin-bottom: 15px; }
            // }
        }

        .spaceMap {
            width: 50%;
            flex-shrink: 0;
        }
    }
}
// .headerRow {
//     width: 100%;
//     margin-bottom: 10px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     // justify-content: space-between;
//     flex-wrap: wrap;
//     > div {
//         display: flex;
//         flex-direction: row;
//         > form, > button {
//             margin-right: 10px;
//         }
//     }
// }
// .spaces {
//     width: 100%; // 700px;
//     display: flex;
//     flex-direction: row; //column;
//     flex-wrap: wrap;
//     align-items: flex-start;
//     // justify-content: center;
//     opacity: 1;
//     transition: opacity $transitionSpeed;
//     &.hidden {
//         opacity: 0;
//     }
// }
// .stats {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     flex-shrink: 0;
//     flex-wrap: wrap;
//     margin-bottom: 10px;
//     > button {
//         color: $grey4;
//         &:not(:last-child) {
//             margin-right: 20px;
//         }
//         > svg {
//             margin-right: 5px;
//             width: 20px;
//             height: 20px;
//         }
//     }
// }