@import '@styles/Variables';

.wrapper {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    transition: color 0.5s;
    > p {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    .icon {
        margin-right: 5px;
        
        > svg {
            width: inherit;
            height: inherit;
        }
        &.blue {
            color: $blue1;
        }
    }
}
