@import '@styles/Colors.scss';

.wrapper {
    display: flex;
    align-items: center;
    max-width: 400px;
    color: $green;
    > svg {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        margin-right: 10px;
    }
}
