@import '../Transitions.scss';
// TODO: change to importing a variables file including transition speeds etc.

.sideBarLeft {
    width: 200px;
    padding: 0 20px;
    position: relative;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.userName {
    font-size: 26px;
    line-height: 30px;
    margin: 70px 0 20px 0;
}
.navButtons {
    display: flex;
    flex-direction: column;
}
.navButton {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    &:hover {
        cursor: pointer;
        .navButtonIcon { opacity: 0.5; }
    }
    &.selected {
        .navButtonIcon { opacity: 0.5; }
    }
}
.navButtonIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.bio {
    margin-top: 20px;
}
.notification {
    width: 25px;
    height: 25px;
    background-color: #ff4848; // red;
    color: white;
    font-size: 12px;
    font-weight: 800;
    border: 3px solid #f7f7f9;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
