@import '../Transitions.scss';
// TODO: change to importing a variables file including transition speeds etc.

.sideBarLeft {
    width: 200px;
    padding: 0 20px;
    position: relative;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.userName {
    font-size: 26px;
    line-height: 30px;
    margin: 60px 0 20px 0;
}
.navButtons {
    display: flex;
    flex-direction: column;
}
.bio {
    margin-top: 20px;
}
