.wrapper {
    width: 100%;
    //height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header {
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
// .body {
//     width: 100%;
//     //height: 600px;
//     background-color: white;
//     border-radius: 10px;
//     padding: 20px;
// }
.notifications {
    width: 100%;
}
.seenIcon {
    width: 25px;
    height: 25px;
    opacity: 0.2;
    position: absolute;
    right: 20px;
    top: 13px;
    &:hover {
        cursor: pointer;
    }
}