.wrapper {
    min-width: 300px;
    max-width: 350px;
    min-height: 430px;
    margin: 0 15px 15px 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;

}
.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coverImage {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-shrink: 0;
}
.flagImageWrapper {
    width: 100%;
    height: 150px;
    margin-top: -75px;
    display: flex;
    justify-content: center;
}
.text {
    width: 280px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.subTitle {
    opacity: 0.6;
    margin-bottom: 10px;
}
.footer {
    margin-bottom: 5px;
}